<div class="container mt-5">
    <h1>HOME PAGE</h1>
    <p>Welcome to the home page! :></p>
    <a href="/contact" class="btn btn-primary">Contact</a>
    <a href="/todos-list" class="btn btn-primary">Todo List</a>
    <a href="/todo-view" class="btn btn-primary">Todo DB</a>
</div>